ul.social { list-style: none outside none; margin: 16px 0 !important; padding: 0; }
ul.social li { margin: 0; padding: 0; }
ul.social > li { line-height: 12px; }
ul.social li { display: inline-block; width: 120px; }
ul.social iframe { margin: 0; }
